.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
 
}
li{
    list-style-type: none;
    
}
.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;  /* main aixs er center hobe */
    align-items: center;   /* cross aixs er center hobe */

}
.inner{
    height: 100px;
    width: 100px;
    background-color:yellow;
}